params {
    
    settings = "/net/topmed11/working/jblamer/id-checking/tm-match-pheno-prs/topmed-pqtl-id-check/etc/pqtl.match.settings.csv"
    pgs = "/net/topmed11/working/jblamer/qc.xqtl/match/pqtl/pgs/ukb_ppp_v2_sentinel_HT.topmed_freeze12c_minDP0_cis.prs.tsv.gz"
    omicsmap = "/net/topmed3/working/exchange.area.mirror/freeze.12.sources/TOPMed_Combined_Omics_SampleAttributes_DS_20260212.txt"
    threads = 8
    distset = "mahalanobis"
    distlambda = 1
    outdir = "/net/topmed11/working/jblamer/id-checking/tm-match-pheno-prs/tmp.output.files"
}

process {
    executor = 'slurm'
}

process {

    withName: PHENO2PL {
        cpus = 1
        memory = '4 GB'
        time = '00:30:00'
    }

}
